@import "./Admin.scss";
@import "../../css-presets.scss";

.NewWeeks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    //height: 100%;
    width: 90%;
    margin: 0;
    //border: 4px dotted $border-color;

    .weekGenerator {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        text-align: center;
        width: 100%;
        margin-top: 20px;
        //border: $borderSize double $border-color;

        .showWeekForm {
            width: 50%;
            //border: 6px dotted rgb(9, 236, 17);
            //height: 100vh;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            .dateForm {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: center;
                height: 65px;
                border: $borderSize dotted $border-color;

                .dateTitle {
                    width: 200px;
                    text-align: left;
                    display: block;
                }

                .form-control {
                    border: 0;
                }
            }

            .menuListTitle {
                background-color: #282c34;
                color: aliceblue;
                font-size: 2.1rem;
                padding: 5px 0;
                min-height: 64px;
            }

            .weekList {
                height: auto;
                min-height: 600px;
                padding: 0;
                margin: 0;

                .weekDropzone {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    text-align: left;
                    border: $borderSize dotted rgb(99, 99, 99);

                    .day {
                        background-color: rgb(10, 56, 60);
                        color: aliceblue !important;
                        padding-left: 10px;
                        width: 17%;
                        height: 80px;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        font-size: 1rem;
                        font-weight: 100;
                    }

                    .DropData {
                        width: 80%;
                        margin: 0;

                        p {
                            margin: 0 !important;

                            b {
                                font-weight: 600;
                            }
                        }
                    }
                }
            }

            .resetWeek {
                margin: -70px 0;
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                a {
                    text-decoration: none;
                    color: aliceblue;
                }
            }

            .saveWeek {
                margin: 20px 0;
                z-index: 22;
                align-self:flex-end;
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: right;

                a {
                    text-decoration: none;
                    color: aliceblue;
                }
            }
        }

        .mealContainer {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            margin-left: 40px;
            min-height: 600px;

            .menuFilter {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                border: $borderSize dotted $border-color;
                height: 65px;
                width: 100%;

                .filterTitle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 100;
                    font-size: 1.4rem;
                    padding-top: 16px;
                    padding-right: 20px;
                }

                .filterInput {
                    min-height: 35px;
                    font-size: 1.2rem;
                    padding: 6px;
                }

                .filterIcon {
                    height: 29px;
                    width: 29px;
                    color: rgb(0, 106, 53);
                    margin-left: 22px;
                    cursor: pointer;
                }
            }

            .showAddmenu {
                height: 220px !important;
                opacity: 1 !important;
                display: flex !important;
                //animation: grow 1s ease;
            }

            .addMenuForm {
                display: none;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                margin: 10px;
                background-color: rgb(161, 255, 192);
                height: 0;
                opacity: 1;
                box-shadow: 2px 2px 9px rgb(200, 200, 200);

                .addFormComp {
                    width: 100%;

                    .addTitle,
                    .addDescr {
                        width: 80%;
                        height: 39px;
                        font-size: 1.2rem;
                        padding: 6px;
                        margin: 10px;
                    }

                    .addSubmit {
                        width: 30%;
                        min-width: 99px;
                        margin-bottom: 20px;
                    }

                    .checkBox {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        .addVeg {
                            width: 24px;
                            height: 24px;
                            margin: 10px;
                        }

                        .checkBox-label {
                            align-items: center;
                            margin: 10px 0;
                        }
                    }
                }
            }

            .mealListTitle {
                position: relative;
                background-color: #362c20;
                color: aliceblue;
                font-size: 2.1rem;
                padding: 5px 0;
                width: 100%;
                margin-bottom: 10px;

                .FaPlusCircle {
                    position: absolute;
                    right: 20px;
                    top: 15px;
                    cursor: pointer;
                    color: rgb(9, 249, 9);
                }
            }

            .mealContent {
                width: 100%;

                .mealItems {
                    //border: $borderSize dotted $border-color;
                    //height: 100vh;
                    max-height: 600px;
                    overflow-y: scroll;
                    padding: 0;
                    width: 100%;
                    list-style: none;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    background-color: rgb(255, 245, 201);

                    li.mealItem:hover {
                        background-color: rgb(255, 184, 62);
                    }

                    li.mealItem {
                        position: relative;
                        width: 100%;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: flex-start;
                        border: $borderSize dotted #282c34;
                        margin: 2px 0;
                        min-height: 60px;
                        padding-left: 10px;
                        cursor: move;

                        p {
                            margin: 4px;
                        }

                        p.t {
                            text-align: left;
                            width: 35%;
                            margin: 4px;
                            font-size: 1.1rem;

                            b {
                                font-weight: 600;
                            }
                        }

                        p.d {
                            text-align: left;
                            width: 45%;
                            margin: 4px;
                            font-size: 1.1rem;
                        }

                        .deleteItem {
                            position: absolute;
                            //width: 44px;
                            right: 10px;
                            top: 20px;
                            font-size: 22px;
                            color: red;

                        }

                        p.veg {
                            text-align: right;
                            width: 8%;
                            margin: 4px;

                            //font-size: .9rem;
                            img {
                                width: 25px;
                                height: 28px;
                            }
                        }
                    }

                }
            }
        }

    }

    @keyframes grow {
        0% {
            display: none;
            transform-origin: top right;
        }

        .1% {
            display: block;
            transform-origin: top right;
            transform: scaleY(0);
        }

        100% {
            transform-origin: top right;
            transform: scaleY(1);
        }
    }
}