.Footer {
    margin: 0;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 99;

    .HomeFooter {
        background-color: #282c34;
        width: 100%;
        min-height: 6vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-size: calc(10px + 2vmin);
        color: white;
    }

}