@import "./css-presets.scss";

* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
  font-size: 16px;
  width: 100%;
  //overflow-y: scroll;

  .App {
    text-align: center;
    //margin-bottom: 100px;
    height: 100vh;
    width: 100%;
  }
  
}

#root, .container {
  display: block;
  width: 100% !important;
  // max-width: 100%;
  // margin: 0 !important;
  // padding: 0 !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

h1,
h5 {
  padding: 10px 0 !important;
  margin: 0 !important;
}

h2 {
  padding: 10px 0 !important;
  margin: 0 !important;
  font-size: 2rem !important;
  font-weight: 600  !important;
}

h3 {
  font-size: 1.3rem !important;
  font-weight: 600  !important;
}
h3.ausg-subt {
  margin: 0 0 29px 0 ;
}

h4 {
  padding: 6px 0 0 0 !important;
  //margin: 6px;
  font-size: 1.1rem !important;
  font-weight: 600  !important;
}

i {
  margin-bottom: 6px !important;
}

img {
  width: 32px;
  height: 32px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.selectMenu {
  margin: 20px 0;
}

.selectBox {
  width: 622px;
  height: 54px;
  border: $borderSize solid #999;
  font-size: 22px;
  color: #099b4b;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 1px 1px #ccc;
  padding: 10px;
  /* Firefox */
  -moz-appearance: none;
  /* Safari and Chrome */
  -webkit-appearance: none;
  appearance: none;
}

select.classic {
  background-image:
    linear-gradient(45deg, transparent 50%, rgb(5, 81, 60) 50%),
    linear-gradient(135deg, rgb(0, 97, 66) 50%, transparent 50%),
    linear-gradient(to right, rgb(135, 235, 108), rgb(135, 235, 108));
  background-position:
    calc(100% - 25px) calc(1em + 1px),
    calc(100% - 25px) calc(1em + 1px),
    100% 0;
  background-size:
    15px 15px,
    5px 5px,
    2.5em 2.5em;
  background-repeat: no-repeat;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.ausgabe {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 !important;
  margin: 0 !important;
}


.menu-ausg {
  border: $borderSize dotted rgb(39, 77, 39);
  min-height: 99px;
  padding: 0 10px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.menu {
  width: 64%;
  max-width: 830px;
}

.menu-title {
  width: 18%;
  min-width: 130px;
  min-height:90px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border-right: $borderSize dotted #282c34;
  font-size: 1.14rem;
  background-color: #077635;
  color: #eee;
  padding: 20px 0 20px 12px;
}

.menu-content {
  width: 70%;
  margin-bottom: 4px;
}

.menu-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: nowrap;
}

.login {
  position: absolute;
  display: flex;
  align-self: center;
  right: 0;
  margin-right: 45px;
  font-size: 1rem;
  color: #fff;
}

.login-btn {
  font-size: 1.1rem;
  padding: 6px 12px;
}

button {
  font-size: calc(10px + 2vmin);
}